<h1>我是爸爸</h1>
<div>我是分隔線------</div>
<input type="text" [(ngModel)]="inputData1">
<button (click)="inputDataChange()">我傳進Serice</button>
<h1>我是兒子</h1>
<div>我是分隔線------</div>

<app-child [aaa]="inputData1" (emitEvent)="getInput($event)">
  <div>我可以丟在子裡面</div>
</app-child>

<button (click)="get()">go</button>
<button (click)="post()">post</button>


<div *ngIf="data | async as data">
  <div *ngFor="let oneData of data">
    {{oneData.PesticideProductName}}
  </div>
</div>


@if (data | async; as data) {
@for (oneData of data; track oneData) {
<div>{{oneData.PesticideProductName}}</div>
}
}


